/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root {
    --main-blue: #3CA4EA;
    --main-grey: #dfeadf;
    --main-gold: #e349d1;
}

h2 {
    font-size: 1.5rem;
    font-family: roboto;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}

/* All styles that affect the sidebar*/
.sidebar {
    background-color: var(--main-blue);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: roboto;
}

.dashboard-title {
    display: flex;
    font-size: 2rem;
    align-items: center;
}

.dashboard-title > img {
    height: 3rem;
    margin-right: 1rem;
}

.sidebar > div {
    margin: 1rem;
}

.sidebar > div > div {
    display: flex;
    align-items: center;
}

.sidebar > div > div > img {
    height: 2rem;
    margin: 1rem;
}

/* All styles that affect the header*/
.header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header > div {
    display: flex;
    align-items: center;
    margin: 0 3rem;
}

input {
    background-color: var(--main-grey);
    border-radius: 50px;
    border: none;
    width: 35vw;
    margin: 0 1rem;
    font-size: 1.4rem;
}

.header img[src^="./icons"] {
    height: 2rem;
}

.circular {
    margin-left: 1rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid black;
    width: 45px;
    height: 45px;
}

.header img[src^="dog"] {
    height: 2.5rem;
    margin-left: -5px;
    width: auto;
    height: 100%;
}

.header-top > form {
    display: flex;
}

.header-top > h2 {
    margin: 0 1rem;
}

.gap {
    flex-grow: 1;
}

/* all styles that affect the main content*/
.content {
    background-color: var(--main-grey);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}